<h1>Login</h1>

<form action="/login" method="POST">
    <div>
        <labe for="email">Email</label>
        <input type="text" if="email" name="email" required>
    </div>
    <div>
        <labe for="password">Password</label>
        <input type="text" if="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>
<a href="/register">Register</a>