<h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <labe for="email">Email</label>
        <input type="text" if="email" name="email" required>
    </div>
    <div>
        <labe for="password">Password</label>
        <input type="text" if="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
<a href="/login">Login</a>